//Color Schemes
$body-background-color: #FCFCFC;
$white: #ffffff;

//Orange Color Schemes
$orange-ultra-light: #CFCBC0;
$orange-extra-light: #FBF7EF;
//learn-more ::after line
$orange: #FFA56A;
$orange-light: #DCCB9F;
$orange-light-1: #F8F2E3;



//Silver colors scheme
$ultra-light: #F2F2F2;
$dark-silver: #717171;

//Font Family Variables

$playFair: 'Playfair Display', serif;
$montserrat: 'Montserrat', sans-serif;


// Font weights

$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$black: 900;


// Devices Resolutions

$tablet: "only screen and (min-width: 768px)";
$large-tablets: "only screen and (min-width: 1000px)";
$small-desktops: "only screen and (min-width: 1200px)";
$laptops: "only screen and (min-width: 1365px)";
$desktop: "only screen and (min-width: 1600px)";
$large-desktop: "only screen and (min-width: 1900px)";

//Global Box Shadow

$shadow: 0 0 40px -10px rgba(0,0,0,0.2);