//Color Schemes
$body-background-color: #FCFCFC;
$footer-background-color: #F8F8F8;
$white: #ffffff;
$border: 1px solid #CFCFCF;
$orange-border: 1px solid #ECE2C8;
$dashed-border: 1px dashed #CFCFCF;

//Orange Color Schemes
$orange-ultra-light: #CFCBC0;
$orange-extra-light: #FBF7EF;
$orange: #FFA56A;
$orange-light: #DCCB9F;
$orange-light-1: #F8F2E3;



//Silver colors scheme
$ultra-light: #F2F2F2;
$light-silver-1: #D2D2D2;
$light-silver-2: #B6B6B6;
$light-silver-3: #B7B7B7;
$light-silver-4: #CCCCCC;
$light-silver-4: #E4E4E4;
$dark-silver: #717171;
$dark-silver-1: #878787;
$dark-silver-2: #6A6A6A;
$dark-silver-3: #585858;
$dark-silver-4: #686868;
$dark-silver-5: #4D4D4D;
$dark-silver-6: #979797;
$dark-silver-7: #484848;
$dark-silver-8: #858585;

$mobile-logo-color: #C8AC6B;
//Font Family Variables

$playFair: 'Playfair Display', serif;
$prata: 'Prata', serif;
$ubuntu: 'Ubuntu', sans-serif;
$montserrat: 'Montserrat', sans-serif;


// Font weights

$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$black: 900;


// Devices Resolutions

$tablet: "only screen and (min-width: 768px)";
$large-tablets: "only screen and (min-width: 1000px)";
$small-desktops: "only screen and (min-width: 1200px)";
$laptops: "only screen and (min-width: 1365px)";
$desktop: "only screen and (min-width: 1600px)";
$large-desktop: "only screen and (min-width: 1900px)";

//Global Box Shadow

$shadow: 0 0 40px -10px rgba(0,0,0,0.2);